<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">
    <!--
    声明组件扫描器:需要加入新的约束文件spring-context.xsd

    base-package:指定注解所在的包名，框架会扫描这个包和子包中的类，找注解，按注解的功能执行操作
     -->

    <context:component-scan base-package="spring.ioc.learn06.package01"/>
    <context:component-scan base-package="spring.ioc.learn06.package02,spring.ioc.learn06.package03"/>
    <context:component-scan base-package="spring.ioc.learn06.package04"/>

    <!--三种方式定义多个包-->
    <!--1.多次指定component-scan-->
    <!--2.使用分割符(;或者,)指定多个包-->
    <!--<context:component-scan base-package="spring.ioc.learn06.package01;spring.ioc.learn06.package02"/>-->
    <!--3.指定父包-->
    <!--<context:component-scan base-package="spring.ioc.learn06"/>-->

</beans>
        <!--
            加入约束文件：
            bean: 由spring创建和管理的java对象。叫做bean
        -->