<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!-- 别名 -->
    <typeAliases>
        <package name="beans"/>
    </typeAliases>

    <!-- Sql映射文件
                 使用package的要求：
         1.sql映射文件名和Dao接口名相同
         2.sql映射文件名和Dao接口在同一包名
    -->
    <mappers>
        <package name="dao"/>
    </mappers>
</configuration>